body {
    background-image: url(/img/header.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: 0px -20vh;
    background-color: #000e0f;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}


#page-container {
    max-width: 1024px;
    margin: 0px auto;
}

#header {
    padding-top:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo-area {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 40px;
    height: 40px;
    background-image: url(/img/logo-negative.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

#logo-name {
    padding-left: 0.5rem;
    font-size: 20px;
    font-weight: 600;
}

#analytics-button {
    margin-right: 1rem;
}

.header-btn {
    padding: 0.5rem 1.5rem;
    border: 3px double transparent;
    border-radius: 80px;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(52 201 234), rgb(0 217 127));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
}

#docs-button {
    margin-right: 1rem;
}

#mistylake-button {
    margin-right: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.25s;
    animation: ease-in-out;
}

a:hover {
    color: rgba(255, 255, 255, 0.7);
}

#information {
    position: relative;
    top: 48vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

#information section {
    width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    background: linear-gradient(#64e6c2, #9198e5);
    padding: 0rem;
    box-shadow: 0px 0px 10px 3px rgba(50, 113, 179, 0.3);
    border-radius:2px;
}

#information section div {
    padding: 1rem;
    background: radial-gradient(#0000001f, transparent);
    width: 100%;
    height: 100%;
}

#info-panel {
    width: 100%;
    font-size: 90px;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

#footer {
    width: 100%;
    margin-top: 3rem;
    background: linear-gradient(#6480e6, #91e5a3);
    font-size:2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3)
}

#footer div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    background-color: rgba(90, 220, 245, 0.2);
    padding: 1rem;
}


#footer div:hover {
    background-color: rgba(90, 220, 245, 0.6);
}

@media (min-width: 400px) and (orientation: portrait) {
    body {
        background-position: 0px 0px;
    }
}
