.carousel-control-next,.carousel-control-prev{

    top:unset !important;
    bottom:unset !important;
    z-index: unset !important;
    position: unset !important;
    color: $cool-green !important;
   
    
}