.btn-mist{

    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: 
    transparent;
    border: 1px solid $cool-dark-green;
    color: $cool-dark-green;
    margin-left:calc(50% -  57.39px);
   

    &:hover{

        background-color: $cool-dark-green;
        color: $mist-bg;
    }


}

@media (min-width:768px){

    .btn-mist{
        margin-left: unset;
    }
}