.mist-carousel.projects {
  background-color: $mist-bg;
}
.mist-carousel.upcoming {
  background-color: $mist-bg-alt;
}

.mist-carousel {
  background-color: $mist-bg;
  min-height: 500px;
  .title-section {
    border-bottom: 2px solid #10d59f;

    padding-top: 2rem;

    h2 {
      font-size: 15px;
      font-family: "Inter", sans-serif;
    }
  }

  .title-carousel {
    font-family: "Inter", sans-serif;
    font-size: 15px;
  }

  .text-carousel {
    font-family: "Inter", sans-serif;
    font-size: 11px;
  }

  .left-icon-mist {
    left: 0;
    top: -0px;
    opacity: 0.1;
    width: 32px;
    height: 69px;

    @media (min-width: 992px) {
      width: unset;
      height: unset;
      top: -40px;
    }
  }

  .middle-icon-mist-small-r {
    right: 0;
    bottom: 100px;
    opacity: 0.1;
    width: 29px;
    height: 56px;

    @media (min-width: 992px) {
      width: unset;
      height: unset;
    }
  }

  .left-icon-mist-down {
    left: 0;
    top: 20px;
    opacity: 0.1;
    width: 28;
    height: 69px;

    @media (min-width: 992px) {
      bottom: 80px;
      width: unset;
      height: unset;
    }
  }
}

@media (min-width: 768px) {
  .mist-carousel {
    background-color: $mist-bg;
    min-height: 500px;
    .title-section {
      border-bottom: 2px solid #10d59f;

      padding-top: 5rem;

      h2 {
        font-size: 48px;
        font-family: "Inter", sans-serif;
      }
    }

    .title-carousel {
      font-family: "Inter", sans-serif;
      font-size: 30px;
    }

    .text-carousel {
      font-family: "Inter", sans-serif;
      font-size: 26px;
    }

    .left-icon-mist {
      left: 0;
      top: -70px;
      opacity: 0.1;
    }

    .middle-icon-mist-small-r {
      right: 0;
      bottom: -2px;
      opacity: 0.1;
    }

    .left-icon-mist-down {
      left: 0;
      bottom: 80px;
      opacity: 0.1;
    }
  }
}
