@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;900&family=Lato:wght@900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.bg-mist {
  background-color: #00181e;
}

.mx-carousel{
  margin-right: 40px;
  margin-left: 40px;
}

@media (min-width: 768px) {
  .mx-project {
    margin-left: 131px;
    margin-right: 131px;
  }
  .mx-cards {
    margin-left: 110px;
    margin-right: 110px;
  }

  .mx-carousel{
    margin-right: none;
    margin-left: none;
  }
}

.max-width {
  max-width: 1440px;
  margin: auto;
}
